
{% extends 'base.html' %}

{% block title %} Home || {{ block.super }} {% endblock title %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid">
        <!-- Login  Message Framework -->
        {% if messages %}
             <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">X</span></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- End Login Message Framework -->
    </div>


    <!-- Main Sections -->
    <div class="container">
        
            
                <div class="col-md-12 col-lg-12">
                    <br/>
                    <h2 style="text-align: center">{{ i.status }}</h2>
                    <img class="img-fluid rounded" src="../static/img/1.jpg"alt="" style="width: 1200px" ; height="500px;">
                    <p class="lead">上海交通大学失物招领平台</p>
                    <div class="article">
                        <ul class="meta-post">
                            <li><i class="fa fa-calendar"></i><a href="#">{{ i.update | naturaltime }}</a></li>
                        </ul>
        
                    </div>
                </div>
           
            <!-- End Recent Lost Post -->
        
    </div>
    <!-- End Main Sections -->

    <br>
    <br>

    <!-- 又是一些没啥用的框框 -->
    <h2 class="my-3">Recent Lost Post</h2>
    <div class="container">
        <div class="row">
            <!-- Lost Item -->
            {% for li in lost_item %}
                <div class="col-lg-4 col-xl-4">
                    <div class="mb-4">
                        <a href="{% url 'lost_item_details' li.id %}">
                            <img class="img-fluid" src="{{ li.image.url }}" alt="Sample image">
                        </a>
                    </div>
                </div>
                <!--detail section-->
                <div class="col-lg-6 col-xl-6">
                    <h3><strong>{{ li.status }}</strong></h3>
                    <h4><strong><pre>Name       : {{ li.name }}</pre></strong></h4>
                    <h4><strong><pre>Location   : {{ li.location }}</pre></strong></h4>
                    <h4><strong><pre>Updated    : {{ li.update | naturaltime }}</pre></strong></h4>
                    <h4><strong><pre>Created by : {{ li.user.username }}</pre></strong></h4>
                    <a href="{% url 'lost_item_details' li.id %}" class="btn btn-primary btn-md">Read more</a>
                </div>
            {% endfor %}

        </div>
    </div>


    <br>
    <!-- 展示最近发现的东西emm -->
    <h2 style="text-align: center">See Found Post</h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                    <th width="35%">Status</th>
                    <th width="25%">Name</th>
                    <th width="25%">Location</th>
                    <th width="45%">Update Time</th>
                </tr>
              </thead>
              <tbody>

                {% for rI in recent_found_item %}
                    <tr>
                        <th>
                            <a href="{% url 'found_item_details'  rI.id%}" target="_blank">{{ rI.status }}</a>
                        </th>
                        <td>{{ rI.name }}</td>
                        <td>{{ rI.location }}</td>
                        <td>{{ rI.update | naturaltime }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock content %}

