{% extends 'master.html' %}

{% load crispy_forms_tags %}

{% block title %} Signup || {{ block.super }} {% endblock %}

{% block stylesheet %} {% endblock %}


{% block content %}

    <!-- Start Main Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <br>
                <h3 class="" style="text-align: center">请在此注册用户</h3>
                <form action="" method="POST" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-success">提交</button>
                    <div style="margin-bottom: 10px;"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Main Container -->
</div>
{% endblock content %}


{% block scripts %}

{% endblock scripts %}
