{% extends 'master.html' %}

{% load static %}

{% load humanize %}

{% block title %} Lost Post || {{ block.super }} {% endblock title %}


{% block  content %}


    <!-- 下面这一堆不知道有啥用 -->
    <div class="container-fluid my-4">
        {% if messages %}
             <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">X</span></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>


    <!-- 下面是标题选项-->
    <div class="container-fluid">
        <h4 style="text-align: center">All Lost Post Here</h4>
    </div>
    <br>
    <br>

    <!-- 显示标签的模块 -->
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            {% for tag in lost_item.tags.all %}
			    <div class="btn-group">
				    <button class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> {{tags}}
                    </button>

			    </div>
             {% endfor %}
		    </div>
	</div>
    </div>

    
     <!-- 显示图形的模块 -->
    {% for lI in lost_item %}
        <div class="col-lg-4 col-md-6">

            <span>
                {% for tag in lost_item %}
                    <a href="#"
                       class="badge badge-secondary"
                    >
                    <!-- 纳闷了  为啥这个标签不太正常？-->
                        {{ tag.tags }}
                    </a>
                {% endfor %}
            </span>

            <div class="view overlay rounded mb-3 img-thumbnail">
                <a href="{% url 'lost_item_details' lI.id %}" target="blank">
                    <img class="img-fluid" src="{{ lI.image.url }}" alt="Uh oh image not Found !" style="max-width: 100%;"/>
                </a>
            </div>
            <p><strong>Status: {{ lI.status }}</strong></p>
            <p><strong>Name : {{ lI.name }} </strong></p>
            <p><strong>Location : {{ lI.location }}</strong></p>
            <p><strong>Updated Time : {{ lI.update | naturaltime }} </strong></p>
            <a class="btn btn-info btn-rounded btn-block mb-4" href="{% url 'lost_item_details' lI.id %}" target="blank">Details</a>
        </div>
    <!-- End Lost Section -->
    {% endfor %}

{% endblock content %}
