{% extends 'regard.html' %}

{%load my_tags%}
{%load static%}
{% load humanize %}

{% block title %} Multi-Choices Search {% endblock title %}
{% block  content %}



    <h1  align="center">     </h1>
    <div class ="top"  style="width: 100%;height: 80px;">

    <div  class="col-md-12 column">
			<ul  class="breadcrumb">
				<li>
					 <a href="/index/">首页</a>
				</li>

				<li class="active">
					 <a href="">搜索</a>
				</li>
			</ul>
    </div>
    </div>

    <div id="box">
        <dl>
        <!-- 每个类别都要单独做一个app 保证所有的遍历过程-->
            <dt>类型：</dt>
            <div style="margin-bottom: 20px"></div>
                {% for each in class_list %}
               <dd id="dd">{%action current_url each 1%}</dd>
            {% endfor %}
        </dl>
        <dl>
        <!-- 每个类别都要单独做一个app 保证所有的遍历过程-->
            <dt>类别：</dt>
            <div style="margin-bottom: 20px"></div>
            {% for each in tag_list %}
                <dd id="dd">{%action current_url each 2%}</dd>
            {%endfor%}

        </dl>
    </div>

    <h2>物品一览:</h2>
        {% for lI in item_list %}
            <div class="col-lg-4 col-md-6">

                <span>
                        <a href="#"
                           class="badge badge-secondary"
                        >
                            {{ lI.tags.all|join:"," }}
                        </a>
                </span>

                <div class="view overlay rounded mb-3 img-thumbnail">
                    <a href="{% url 'lost_item_details' lI.id %}" target="blank">
                        <img class="img-fluid" src="{{ lI.image.url }}" alt="Uh oh image not Found !" style="width: 350px;height: 300px;"/>
                    </a>
                </div>
                <p><strong>名称 : {{ lI.name }} </strong></p>
                <p><strong>地点 : {{ lI.location }}</strong></p>
                <a class="btn btn-info btn-rounded btn-block mb-4" href="{% url 'lost_item_details' lI.id %}" target="blank">了解详情</a>
            </div>
            <div style="margin-bottom: 10px;"></div>
        <!-- End Lost Section -->
        {% endfor %}
{% endblock content %}
