<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="row">



        {% if type == 'Found' %}
            {% for fI in found_item %}
                <div class="col-lg-4 col-md-6">
                    <span>
                    <a href="#" class="badge badge-secondary">
                        {{ lI.tags.all|join:"," }}
                    </a>
                    </span>
                    <div class="view overlay rounded mb-3 img-thumbnail">
                        <a href="{% url 'found_item_details'  fI.id %}" target="blank">
                            <img class="img-fluid" src="{{ fI.image.url }}" alt="抱歉，图片找不到了:(" style="width: 350px;height: 300px;"/>
                        </a>
                    </div>
                    <p><strong>物品名称 : {{ fI.name }} </strong></p>
                    <p><strong>地点 : {{ fI.location }}</strong></p>
                    <p><strong>上传时间 : {{ fI.update }} </strong></p>
                    <a class="btn btn-info btn-rounded btn-block mb-4" href="{% url 'found_item_details'  fI.id %}" target="blank">点击查看更多细节</a>
                </div>

            {% endfor %}
        {% else %}
            {% for lI in lost_item %}
                <div class="col-lg-4 col-md-6">
                    <span>
                    <a href="#" class="badge badge-secondary">
                        {{ lI.tags.all|join:"," }}
                    </a>
                    </span>
                    <div class="view overlay rounded mb-3 img-thumbnail">
                        <a href="{% url 'lost_item_details' lI.id %}" target="blank">
                            <img class="img-fluid" src="{{ lI.image.url }}" alt="抱歉，图片找不到了:(" style="width: 350px;height: 300px;"/>
                        </a>
                    </div>
                    <p><strong>物品名称 : {{ lI.name }} </strong></p>
                    <p><strong>地点 : {{ lI.location }}</strong></p>
                    <p><strong>上传时间 : {{ lI.update }} </strong></p>
                    <a class="btn btn-info btn-rounded btn-block mb-4" href="{% url 'lost_item_details' lI.id %}" target="blank">点击查看更多细节</a>
                </div>
            {% endfor %}
        {% endif %}
            </div>
        </div>
    </div>
    </div>
